@font-face {
  font-family: 'IBM VGA8';
  src: local('IBM VGA8'), url(./fonts/PxPlus_IBM_VGA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Alagard';
  src: local('Alagard'), url(./fonts/alagard.ttf) format('truetype');
}
